<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Home", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">   
        <li class="cart-text"><%= render 'layouts/cart_text' %></li>
      <% if user_signed_in? %>
        <li class="dropdown">
          <a id="profile" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag(current_user.image, alt: "Profile Image", size: 25) %>
            <span><%= current_user.name %> </span>
            <span class="caret">
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Order History", "#" %></li>
            <li><%= link_to "แจ้งชำระเงิน", "#" %></li>
            <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
          </ul> 
        </li>
      <% else %>
        <li><%= link_to 'Login with Facebook', user_facebook_omniauth_authorize_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>